In [57]:
import pandas as pd

In [58]:
travel_df = pd.read_csv('world_cities.csv')

In [59]:
travel_df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [60]:
travel_df['City / Urban area'].value_counts().shape

(249,)

In [61]:
travel_df['Country'].value_counts().shape

(61,)

In [62]:
((travel_df['Population'] / travel_df['Land area (in sqKm)']) > 10000).value_counts()

False    230
True      19
dtype: int64

In [63]:
travel_df["Density"] = travel_df["Population"] / travel_df["Land area (in sqKm)"]
df_high_density = travel_df[travel_df["Density"] > 10000]
df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
 5   Density              19 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.0+ KB

In [64]:
travel_df.sort_values(by='Density', ascending=False)

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),Density
75,75,Mumbai,India,14350000,484,29648.760331
74,74,Kolkata,India,12700000,531,23917.137476
101,101,Karachi,Pakistan,9800000,518,18918.918919
99,99,Lagos,Nigeria,13400000,738,18157.181572
34,34,Shenzhen,China,8000000,466,17167.381974
...,...,...,...,...,...,...
194,195,Chattanooga,USA,344000,751,458.055925
223,224,Asheville,USA,222000,536,414.179104
57,57,Pau,France,181000,450,402.222222
220,221,Hickory,USA,188000,546,344.322344
196,197,Barnstable Town,USA,244000,741,329.284750

In [114]:
cnt = travel_df['Country'].value_counts()

In [116]:
for i in range(0, 61):
    if cnt[i] == 4:
        print(i)

11

In [139]:
cnt[cnt == 4]

Italy    4
Name: Country, dtype: int64