In [1]:
numbers = [1,2,3,4,5,6,7]
print(numbers[0:-3])

[1, 2, 3, 4]

In [3]:
wage = 5
exchange_rate = 1142.16
print("{} {:.1f}{}".format(1, wage * 1 * exchange_rate, "원"))

1 5710.8원

In [4]:
for i in range(3, 9, 2):
    print(i)

3
5
7

In [5]:
print(not 4 < 3)
print(False or True)
print(3>=2)
print((4<3)and 7==7)
print(not not True)

True
True
True
False
True

In [6]:
import numpy as np

arr = np.arange(5, 13, 5)
arr

array([ 5, 10])

In [7]:
import pandas as pd

list = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
df = pd.DataFrame(list)
df.loc[1, 2]

7